<app-loading *ngIf="isLoading"></app-loading>
<ng-container *ngIf="form" [formGroup]="form">
  <div mat-dialog-content class="dialog-content grid-3-cl">
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>CPF da Pessoa</mat-label>
      <input matInput formControlName="personDocument" [cpfcnpj]>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Renda Familiar</mat-label>
      <input matInput formControlName="familyIncome" [money]>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Municipio</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Habilidades Laboriais</mat-label>
      <input matInput formControlName="workSkills" [numbers]>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Bairro</mat-label>
      <input matInput formControlName="neighborhood">
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Número</mat-label>
      <input matInput formControlName="streetNumber">
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="phone" [cellphone]>
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Complemento</mat-label>
      <input matInput formControlName="complement">
    </mat-form-field>
    <mat-form-field class="default-form-field" appearance="fill">
      <mat-label>Horários de Trabalho</mat-label>
      <input matInput formControlName="serviceHours">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="bg-buttons flex-end" *ngIf="data">
    <button class="close-button" mat-button (click)="closeDialog()">Sair</button>
    <button class="save-button" mat-button cdkFocusInitial (click)="onSubmit(form.value)">Salvar</button>
  </div>
</ng-container>
